<h1>New Game</h1>

<div class="letters">
  <% @letters.each do |letter| %>
    <h3><%= letter %></h3>
  <% end %>
</div>

<p>Type the longest word you can find with these letters</p>
<form action="<%= score_path %>" method="POST">
  <input type="text"
         name="word"
         value="<%= params[:word] %>"
         placeholder="Type your word!">
  <input type="submit" value="Done!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
